# 2025 Week-1 Homework

## Q1. Pandas version

In [156]:
import pandas as pd
import numpy as np

In [157]:
pd.__version__

'2.3.1'

## Getting the Car Fuel Efficiency dataset from the downloaded csv file

In [158]:
df = pd.read_csv("01-Intro/car_fuel_efficiency.csv")
df.head() # confirm data is read into the dataset

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## Q2. Records count - How many records are in the dataset?

In [159]:
len(df)

9704

## Q3. - Fuel types: How many fuel types are presented in the dataset?

In [160]:
df["fuel_type"].nunique()

2

## Q4. Missing values: How many columns in the dataset have missing values?

In [161]:
null_in_series = df.isnull().sum()
series_with_nulls = (null_in_series > 0).sum()
print(series_with_nulls)

4

## Q5. Max fuel efficiency: What's the maximum fuel efficiency of cars from Asia?

In [162]:
Asian_cars_df = df["origin"] == "Asia"
print(df[Asian_cars_df]["fuel_efficiency_mpg"].max())

23.759122836520497

## Q6. Median value of horsepower

#### 1. Find the median value of horsepower column in the dataset.

In [163]:
print(df.horsepower.median())

149.0

#### 2. Next, calculate the most frequent value of the same horsepower column

In [164]:
freq_hp_df = df['horsepower'].mode()
freq_hp_df

0    152.0
Name: horsepower, dtype: float64

#### 3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.

In [165]:
df['horsepower']

0       159.0
1        97.0
2        78.0
3         NaN
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [169]:
df['horsepower'] = df['horsepower'].replace('', np.nan)
df['horsepower']

0       159.0
1        97.0
2        78.0
3         NaN
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [140]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467